/* div{
    padding: 20px;
    height: 40vh;
    width: 90vw;
    background-color: aqua;
    border-radius: 20px;
}
p{
    color: red;
    text-align: center;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-decoration: underline blue; */

